<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHIPS</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</head>
<body>
    <div>
        <!-- Basic Chip -->
        <span class="mdl-chip">
            <span class="mdl-chip__text">Basic Chip</span>
        </span><!-- Deletable Chip -->
        <span class="mdl-chip mdl-chip--deletable">
            <span class="mdl-chip__text">Deletable Chip</span>
            <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
        </span><!-- Button Chip -->
        <button type="button" class="mdl-chip">
            <span class="mdl-chip__text">Button Chip</span>
        </button>
    </div>

    <div>
        <!-- Contact Chip -->
        <span class="mdl-chip mdl-chip--contact">
            <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">A</span>
            <span class="mdl-chip__text">Contact Chip</span>
        </span>
        <!-- Deletable Contact Chip -->
        <span class="mdl-chip mdl-chip--contact mdl-chip--deletable">
            <img class="mdl-chip__contact" src="https://getmdl.io/templates/dashboard/images/user.jpg"></img>
            <span class="mdl-chip__text">Deletable Contact Chip</span>
            <a href="#" class="mdl-chip__action"><i class="material-icons">cancel</i></a>
        </span>
    </div>

    <div>
    </div>
</body>
</html>
